body
{
	font-family: arial,sans-serif
}

.conteneurHeader
{
	height: 50px;
	width: 250px;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8em;
}

.conteneurHeaderElement:nth-child(1)
{
	width: 105px;
	height: auto;
	word-spacing: 10px;
}

.conteneurHeader a
{
	color: rgba(0,0,0,0.87);
	text-decoration: none;
}

.conteneurHeader a:hover
{
	color: rgba(0,0,0,0.87);
	text-decoration: underline;
}

.conteneurHeaderElement:nth-child(2)
{
	width: 100px;
	height: auto;
	text-align: right;
}

.conteneurPrincipal
{
	border: 1px solid Black;
	height: 800px;
	clear: both;
}

.conteneurFooter
{
	border: 1px solid Black;
	height: 100px;
}